<nav class="navbar navbar-default navbar-fixed-top navbar-light mb-lg-5" id="myTopnav">
    <div class="container">
        <a class="navbar-brand" routerLink="">
            <strong>Tawabe3</strong>
          </a>
          <div>
          <a routerLink="en/order" class="pr-4">Order</a>
          <a routerLink="#about" class="pr-4">About</a>
          <a routerLink="#contact" class="pr-4">Contact</a>
        </div>
          <a routerLink="ar" class="btn shadow-sm btn-dark pl-2 pr-2" style="color: white;" >عربي</a>
    </div>
</nav>
    
  