<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="myTopnav">
    <div class="container">
        <a class="navbar-brand" href="">
            <strong>Tawabe3</strong>
          </a>
          <div>
          <a href="" class="pr-4">Home</a>
          <a href="en/order" class="pr-4">Order</a>
          <a href="#about" class="pr-4">About</a>
          <a href="#contact" class="pr-4">Contact</a>
          
          
        </div>
          <a href="ar" class="btn shadow-sm btn-dark pl-2 pr-2" style="color: white;" >عربي</a>
          
    </div>
</nav>
<br>
<br>
    
  