<div class="container">
    <div *ngIf = "findUrl()">
        <h1>THANK YOU <i class="fas fa-smile-beam"></i></h1>
        <div class="alert alert-success" role="alert">
            <i class="fas fa-check mr-2"></i> Your order is on our database and will be ready soon
          </div>
        <img class="success" src="assets/orderSuccess/undraw_confirmation_2uy0.svg" alt="">
    </div>

    <div *ngIf = "!findUrl()">
        <h1>ITS OK!</h1>
        <small>error code: 500</small>
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-times mr-2"></i> 
            <strong>
            Unfortunately, we did not recieve your order! 
            Please call support on 
            <i class="fas fa-phone-alt mr-2"></i> 
            <a href="tel:0791415617">0791415617</a> and try again
        </strong>
          </div>
        <img class="success" src="assets/orderFail/undraw_server_down_s4lk.svg" alt="">
    </div>
</div>
