.validErr{
    font-weight: bold;
    font-size: small;
    margin-top: 5px;
    color: rgb(187, 0, 0);
}

.successMsg{
    color: green;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}