<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>WELCOME!  <i class="fas fa-smile-beam"></i></h1>
            <p>
                Using <strong>Tawabe3.com</strong> you can order customizable name-tages 
                for your children. Studying sometimes can get boaring especially for young students. Our
                goal is to add some fun and excitement to books and notebooks.
            </p>

            <div class="row">
                <div class="col-sm-3 pb-3">
                    <a class="btn btn-primary orderButton shadow-sm" routerLink="en/order">Order now</a>
                </div>
                <div class="col-sm">
                    <a type="button" class="btn shadow-sm discoverButton" routerLink="en/discover"><strong>Discover</strong></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/home/undraw_back_to_school_inwc.svg" width="500px" alt="">
        </div>
    </div>
</div>
<br>
<br>
<div class="container" id="about">
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/home/undraw_moonlight_5ksn.svg" width="500px" alt="">
        </div>
        <div class="col-sm-6">
            <h1>About Us</h1>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="container" id="contact">
    <div class="row">
        <div class="col-sm-6">
            <h1>Contact Us</h1>
        </div>
        <div class="col-sm-6">
            <img src="assets/home/undraw_contact_us_15o2.svg" width="500px" alt="">
        </div>
    </div>
</div>
