<app-header></app-header>
<div class="heading">
    
    <div class="container pb-xl-5 pt-xl-5" >
        <h1 style="text-align: center;"> Order amazing name-tages with <strong>Tawabe3</strong></h1>
    </div>
</div>

<div class="section1">
    <div class="container">
    <div class="row shadow-sm rounded-lg">
        <div class="col-sm-4">
            <p class="title"> What <strong>Tawabe3</strong> offers?</p>
        </div>
        <div class="col-sm-6 text">
            
            <ul>
                <li> <i class="fas fa-paint-brush"></i> Fully customizable stickers</li>
                <li> <i class="fas fa-parachute-box"></i> Delivered to your door in 2 days</li>
                <li> <i class="fas fa-map-marked-alt"></i> We can deliver to all cities in Jordan
                : Amman, Irbid, AlSalt, ...</li>

            </ul>
        
        <div class="wrapper">
        <a href="en/order"><button class="btn shadow-sm mb-3"> order now </button></a>
        </div>
    </div>
    <div class="col-sm-4">
       
    </div>
    </div>
    
</div>
</div>

<div class="section2">
    <div class="container">
    <div class="row shadow-sm rounded-lg border_red">
        <div class="col-sm-4">
            <p class="title"><strong>Cost</strong> and payment <i class="fas fa-dollar-sign"></i></p>
        </div>
        <div class="col-sm-4 text">
            <p class="sub_title row-sm">pay cash</p>
            <p class="row-sm explain"> - <small>you can pay when the order is delivered to you</small> -</p>
            <div class="wrapper row-sm">
                <i class="fas fa-money-bill-wave"></i>
            </div>
        </div>
        <div class="col-sm-4 text">
            <p class="sub_title row-sm">pay online</p>
            <p class="row-sm explain"> - <small>you can pay other online payments</small> -</p>
            <div class="wrapper row-sm">
                <i class="fas fa-credit-card"></i>
            </div>
        </div>
    <br>    
    </div>
    
</div>
</div>



<app-about id="about"></app-about>
<app-contact id="contact"></app-contact>

<app-footer></app-footer>
